/* colors variables settings */
 
:root {
  --bgColor: rgb(39, 39, 39);
  --textDefault: rgb(255, 255, 255);
  --primary: rgba(200, 180, 180, 1) !important;
  --secondary: #7fb48c !important;
  --terciary: #0a0 !important;
  --linkcolor: #0a0 !important;
  --altbgColor: rgba(200, 130, 90, 0.4) !important;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #ff0000;
  --light: #f8f9fa;
  --dark: #161111;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:root[data-theme='dark'] {
	--bgColor: #000;  
  --textDefault: #fff;
  --primary: #ACC2FF;
  --secondary: #FFAFD0;
  --terciary: #0a8b4b;
}

*, ::after, ::before {
	box-sizing: border-box;
  /*--bs-gutter-x:  none; */
}

.row {
  --bs-gutter-x:  none; 
}

html {
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
  font-size: 14px;
  text-align: left;
  color: var(--primary);
  text-decoration: none;
} 

body {
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
  background-color: var(--bgColor);
  color: var(--primary);
  text-decoration: none;
  text-align: justify;
  /* background-image: url("../static/bkg_img.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size:cover; */
}

iframe, *.iframe, .ytvid {
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
  border: 0 !important;
  display: inline-flex;
}

a {
  color: var(--linkcolor);
  text-decoration: none;
 }
 
 a:hover, h6 {
  color: var(--linkcolor);
  /*font-weight: bolder;*/
  }

h5 {
  color: var(--primary);
  font-size: 14px;
  text-align: left;
  vertical-align: top;
  padding: 10px;
  }

h6 {
  color: var(--primary);
  font-size: 16px;
  font-weight: 700;
  padding: 0px;
  }

li, li::marker {
  padding-left: 15px;
  margin-left:10px;
  margin-bottom:15px;
  

  }



.social {
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: transparent !important;
  z-index:5;
}

.kwtload {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: transparent !important;
}

/* 
.dash-spinner {
  background-image: url("http://i.stack.imgur.com/SBv4T.gif");
  background-size: contain;
  background-repeat: repeat;
}

.dash-spinner * {
  display: none !important;
}
*/

.alerts {
  position: absolute;
  top: 5px;
  width:300px;
  right: calc(50% - 150px);
  z-index: 10 !important;
  border:0px;
  font-weight: bold;
  text-align: center;
  color:black;
  background-color: var(--warning);
}

.topnav {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 4;
  margin: 0px 0px 0px 0px ;
  padding: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  text-decoration: none;
  display: block;
  text-align: right;
  justify-content: right;
  width: 100%;
  box-shadow: 0px 2px 4px black;
}

.sidenav {
  position: fixed;
  margin: 0px 0px 0px 0px ;
  padding: 0px 0px 0px 0px ;
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: var(--primary);
  text-decoration: none;
  z-index:5 !important;
}

.sidenav:hover {
  color: var(--linkcolor) !important;
}

.content {
  padding-top:65px;
  display: flex;
  
}

div.inline-block > span.mr-1.self_center.badge {
  background-color: var(--primary) !important;
}

*.btn.btn-primary {
  color: #000;
  background-color:  var(--primary) !important;
  border-color:  var(--primary) !important;
  /*margin: 5px !important;*/
  padding: 5px 5px 5px 5px !important;
  text-align: center !important;
  vertical-align: middle !important;  
}

*.btn.btn-primary:hover {
  background-color:  var(--terciary) !important;
}

.Select {
  color: #000 !important;
  vertical-align: middle !important;
  border-color:  var(--primary) !important;
  border-radius: 5px !important;
  border-style: none;
  line-height: 1.5;
}

.badge {
  color: #000 !important;
  background-color: var(--primary) !important;
  margin: 2px;
}

.badge-link {
  color: var(--primary) !important;
  background-color: var(--dark) !important;
  margin: 2px;
}


.container-fluid {
  padding: 10px;
}

.card {
  padding: 0px 0px 0px 0px  !important;
  background-color: rgba(200, 180, 180, 0.10) !important;
  box-shadow: 0px 2px 3px black; 
}

*.card-header {
  margin: 0px 0px 0px 0px  !important;

  text-align:center;
  vertical-align: middle !important;  
  color: var(--terciary);
  background-color:  rgb(34, 33, 33) !important;
}

.card-header-sub {
  text-align:center;
  color: var(--primary);
  font-weight:normal;
}

.card-img {
  margin: 10px 0px 0px 0px  !important;
}

.card-body {
  padding: 20px !important;
}

.dash-graph {
  margin: 1px !important;
  box-shadow: 0px 2px 3px black;
}

.cardSize {
  padding: 5px;
  display: inline-flex;
  /*width: 332px !important;*/
  width:fit-content;
  height:fit-content;
  max-width:360px;
  min-height:360px;
  margin: 0px 15px 15px 0px;
}

.cardSize-code {
  padding: 5px;
  display: inline-flex;
  /*width: 332px !important;*/
  width:fit-content;
  height:fit-content;
  /*overflow-y:scroll;*/
  max-width:720px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.cardSize-vid {
  padding: 0px !important;
  margin: 0px 0px 0px 0px;
  display: inline-flex;
  width:fit-content;
  height:fit-content;
}

.cardSize-vid .card-header{
  color: var(--primary) !important;
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px !important;
}

.cardSize-vid .card-body {
  text-align: left;
  padding: 0px !important;
}

.cardSize-vidbkg {
  padding: 0px !important;
  margin: 0px;
  display: inline-flex;
  width:100%;
  height:fit-content;
  text-align: center;
}

.kwtdrops{
  display: contents !important;
  vertical-align: middle !important;  
}

.kwtchartbtn{
  max-height: 35px !important;
  margin-left: 15px !important;
}

*.dash-dropdown {
  padding: 0px !important;
  margin: 0px !important;
  border: 0px !important;  
}

.list-group-item {
	position: relative;
	display: block;
	padding: 0px;
	color: rgba(200, 180, 180, 1);
	text-decoration: none;
	background-color: rgba(0,0,0,.125);
	border: 1px solid rgba(200, 180, 180, 0.25);
}