/* colors variables settings */
 
:root {
  --bgColor: rgb(0, 0, 0);
  --textDefault: rgb(255, 255, 255);
  --primary: rgba(200, 180, 180, 1) !important;
  --secondary: #7fb48c !important;
  --terciary: #0a0 !important;
  --linkcolor: #0a0 !important;
  --altbgColor: rgba(200, 130, 90, 0.4) !important;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:root[data-theme='dark'] {
	--bgColor: #000;  
  --textDefault: #fff;
  --primary: #ACC2FF;
  --secondary: #FFAFD0;
  --terciary: #0a8b4b;
}

html {
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
  font-size: 14px;
  text-align: left;
  color: var(--primary);
  text-decoration: none;
} 

body {
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
  background-color: var(--bgColor);
  color: var(--primary);
  text-decoration: none;
}

a {
  color: var(--linkcolor);
  text-decoration: none;
 }
 
 a:hover {
  color: var(--linkcolor);
  font-weight: bolder;
  }

.topnav {
  margin: 0px 0px 0px 0px ;
  padding: 9px 10px 8px 10px;
  background-color: transparent;
  text-decoration: none;
  display: block;
  position: sticky;

  text-align: right;
  justify-content: right;
  width: 100%
}

.sidenav {
  margin: 0px 0px 0px 0px ;
  padding: 0px 0px 0px 0px ;
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: var(--primary);
  text-decoration: none;
}

.sidenav:hover {
  color: var(--linkcolor) !important;
}

.content {
  padding-top:20px;
  display: flex;
}

.padding16.radius8 {
  border-radius: 4px;
}

.padding16.radius8:hover {
  box-shadow: 0px 0px 0px 2px var(--primary) !important;
}

.trich_card.dark .card .git, .card {
  background-color: rgb(36, 36, 36) !important;
  color: var(--primary) !important;
}

div.inline-block > span.mr-1.self_center.badge {
  background-color: var(--primary) !important;
}

a.btn.btn-primary {
  color: #000 !important;
  background-color:  var(--primary) !important;
  border-color:  var(--primary) !important;
  margin: 5px !important;
  padding: 1px 3px 1px 3px !important;
  text-align: center !important;
  vertical-align: moddle !important;  
}

a.btn.btn-primary:hover {
  background-color:  var(--terciary) !important;
}

.badge {
  color: #000 !important;
  background-color: var(--primary) !important;
  margin: 2px;
}

.cardSize {
  padding: 5px;
  display: flex;
  width: 332px !important;
  margin-right: 10px;
  margin-bottom: 10px;
}

.card-header {
  text-align:center;
  color: var(--terciary);
  font-weight:bolder;
}

.list-group-item {
	position: relative;
	display: block;
	padding: 0px;
	color: rgba(200, 180, 180, 1);
	text-decoration: none;
	background-color: rgba(0,0,0,.125);
	border: 1px solid rgba(200, 180, 180, 0.25);
}